models
datasets
ocr_output
extra
runs
test_images
user_data
__pycache__
ocr_images
models/*
models.zip
models.zip7o7h1nc0tmp
model-server/models
model-server/models/*
model-server
main-server/.env
main-server/unique
main-server/unique/*
